---
title: Welcome | Atlantic Studios
navigation: Home
description: Since 1857, The Atlantic has shaped the national debate on politics,
  business, foreign affairs, and cultural trends.  Atlantic Studios is an award-winning
  production company owned by The Atlantic, developing and producing premium content
  reaching millions globally each week.
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %}
  {% include nav.html %}
  {% include modal.html %}

  <div class="container open">
    {% include menuButtonWhite.html %}
    {% include playButton.html %}
    <div class="containerSpacer">
      <div class="coverImage"></div>
      <div class="coverVideo">
        <video id="video" autoplay loop muted playsinline src="/videos/BorderPatrolShort.mp4"></video>
        <img src="/images/texture.png"/>
      </div>
    </div>
    {% include footerWhite.html %}
  </div>

  <script src="/scripts/myRandomImage.js"></script>
</body>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
