---
title: Alt Right | Atlantic Studios
navigation: Watch
description: Richard B. Spencer greeted an audience of more than 200 at an alt-right conference in Washington D.C. last month with the cry, “Hail Trump, hail our people, hail victory!” He was met with enthusiastic cheers and Nazi salutes, and The Atlantic’s clip made headlines. In this documentary, we go further inside Spencer’s ethnocentric worldview to understand what his plans are for the so-called alt-right—namely, to bring white nationalism out of the shadows. "I don't see myself as a marginal figure who's going to be hated by society. I see myself as a mainstream figure,” he said. Spencer and other alt-right leaders see Donald Trump’s rise as the first step towards a whites-only state. "Our lived experience is being a young, white person in 21st century America, [and] seeing your identity be demeaned,” Spencer said. “I’ve lived in this multicultural mess for years and I’m trying to get out of it."

label: Rebranding White Nationalism
date: December 21, 2016
cover: AltRightCover
type: Documentary
emphasis: 1
embed: https://player.vimeo.com/video/196594487?title=0&byline=0
post: https://www.theatlantic.com/video/index/510533/rebranding-white-nationalism-inside-the-alt-right/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectAwards">
          <img src="/graphics/awards/AltRight.svg" />
          <img src="/graphics/awards/BestShorts.svg" />
        </div>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Producer / Shooter / Editor
          </td>
          <td class="creditsName">
            Daniel Lombroso
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Camera / Production Assistant
          </td>
          <td class="creditsName">
            Leah Varjacques
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Camera
          </td>
          <td class="creditsName">
            Jeremy Raff
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Managing Producer
          </td>
          <td class="creditsName">
            Raymond Schillinger
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
