---
title: Angola for Life | Atlantic Studios
navigation: Watch
description: There are more than 6,000 men currently imprisoned at the Louisiana State Penitentiary at Angola—three-quarters of them are there for life, and nearly 80 percent are African American. It's the end of the line for many convicted criminals in Louisiana, which has the highest incarceration rate of any state in the U.S. In this Atlantic original documentary, national correspondent Jeffrey Goldberg goes inside Angola to speak with inmates and with warden Burl Cain, who has managed the prison for two decades. Cain and his colleagues grapple with the crucial question&#58 What does rehabilitation look like when you're locked away for life?

label: Angola for Life
date: September 21, 2015
cover: AngolaForLifeCover
type: Documentary
emphasis: 2
embed: https://www.youtube.com/embed/7ABpWhY5Xzk
post: https://www.theatlantic.com/video/index/404305/angola-prison-documentary/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectAwards">
          <img src="/graphics/awards/WebbyAward.svg" />
        </div>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Producer / Shooter / Editor
          </td>
          <td class="creditsName">
            Sam Price-Waldman
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Producer
          </td>
          <td class="creditsName">
            Jeff Goldberg
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Shooter
          </td>
          <td class="creditsName">
            Paul Rosenfield
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Design
          </td>
          <td class="creditsName">
            Jackie Lay
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Production Assistant
          </td>
          <td class="creditsName">
            Greyson Korhonen
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Production Manager
          </td>
          <td class="creditsName">
            Raymond Schillinger
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
