---
title: Animalism | Atlantic Studios
navigation: Watch
description: Ed Yong looks at the way animals live and explains the latest groundbreaking research about why mammals evolved to behave in certain ways.

label: Animalism
date: December 28, 2017
cover: AnimalismCover
type: Series
emphasis: 2
embed: https://www.youtube.com/embed/LIfKk37bkyk
post: https://www.theatlantic.com/video/series/animalism/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Producer
          </td>
          <td class="creditsName">
            Jon Halperin
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Art Director / Animator
          </td>
          <td class="creditsName">
            Jackie Lay
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Editor
          </td>
          <td class="creditsName">
            Lars Woodruffe
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Director of Photography
          </td>
          <td class="creditsName">
            Jim Ball
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Producer
          </td>
          <td class="creditsName">
            Alice Roth
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Assistant Producer
          </td>
          <td class="creditsName">
            Leah Varjacques
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Production Manager
          </td>
          <td class="creditsName">
            Brian Jimenez
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Senior Producer
          </td>
          <td class="creditsName">
            Ashley Bloom Kenny
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
