---
title: The Enduring Myth of Black Criminality | Atlantic Studios
date: 2015-09-14 00:00:00 Z
navigation: Watch
description: In his October cover story for The Atlantic, Ta-Nehisi Coates explores
  how mass incarceration has affected African American families. "There's a long history
  in this country of dealing with problems in the African American community through
  the criminal justice system," he says in this animated interview. "The enduring
  view of African Americans in this country is as a race of people who are prone to
  criminality."
label: The Myth of Black Criminality
cover: BlackCriminalityCover
type: Animation
emphasis: 2
embed: https://player.vimeo.com/video/140681740?color=ffffff&byline=0&portrait=0
post: https://www.theatlantic.com/video/index/404674/enduring-myth-of-black-criminality/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectAwards">
          <img src="/graphics/awards/StaffPick.svg" />
        </div>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Director / Designer / Animator
          </td>
          <td class="creditsName">
            Jackie Lay
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Sound Mixing
          </td>
          <td class="creditsName">
            Nicolas Pollock
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
