---
title: The Contract Buyers League | Atlantic Studios
date: 2014-05-21 00:00:00 Z
navigation: Watch
description: When Clyde Ross, Mattie Lewis, and Ethel Weatherspoon settled in the
  West-side neighborhood of North Lawndale, they hoped to achieve the American dream
  of owning a home. At the time, however, federal policies known as redlining prevented
  blacks from getting real mortgages, forcing them to buy from real-estate speculators
  "on contract." The contracts, homeowners soon discovered, turned out to be a scam.
  In this short documentary, Ross, Lewis, Weatherspoon, and a community organizer
  named Jack Macnamara recount the story of how they formed the Contract Buyers League
  and fought back.
label: Contract Buyers League
cover: ContractBuyersCover
type: Documentary
emphasis: 1
embed: https://www.youtube.com/embed/YxPX_uJ36bg
post: https://www.theatlantic.com/video/index/371360/the-story-of-clyde-ross-and-the-contract-buyers-league/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>The Contract Buyers League</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectAwards">

        </div>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Producer / Shooter / Editor
          </td>
          <td class="creditsName">
            Sam Price-Waldman
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Producer
          </td>
          <td class="creditsName">
            Paul Rosenfield
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
