---
title: Medicaid Cuts | Atlantic Studios
date: 2017-07-14 00:00:00 Z
navigation: Watch
description: Recently, 43 disabled protesters were arrested outside of Senate majority
  leader Mitch McConnell's office, and the clips went viral on social media. Since
  then, activists have kept up the pressure on the Republican health bill with similar
  actions across the country. For this short documentary, The Atlantic traveled to
  the heart of the disability rights movement in the San Francisco Bay Area to learn
  why some people with disabilities fear the Republican health plan. Mary Lou Breslin
  of the Disability Rights Education and Defense Fund says cuts to Medicaid could
  ultimately cost 3 million people with disabilities their freedom, and erode "40
  years of hard won gains by the disability rights movement." <br /><br /> This documentary
  was produced as a project for the USC Center for Health Journalism’s California
  Fellowship.
label: Medicaid Cuts
cover: DisabilityCover
type: Documentary
emphasis: 1
embed: https://player.vimeo.com/video/225610028?title=0&byline=0
post: https://www.theatlantic.com/video/index/533001/the-disabled-fight-for-health-care/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Producer / Shooter / Editor
          </td>
          <td class="creditsName">
            Jeremy Raff
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Production Manager
          </td>
          <td class="creditsName">
            Brian Jimenez
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Senior Producer
          </td>
          <td class="creditsName">
            Ashley Bloom Kenny
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
