---
title: Drone King | Atlantic Studios
navigation: Watch
description: In the 1950s, Kurt Vonnegut wrote a short story that he never published. Recently, editors of a Vonnegut short story collection discovered it while researching old papers. The Atlantic is printing “The Drone King” for the first time this fall. This piece is an animated excerpt of a passage from the story where an intrepid businessman named Sheldon Quick tries to sell his associate on the idea of using bees as inter-office communication. The story showcases Vonnegut’s early dry wit and seems more relevant than ever in an era where communication is constantly changing.

label: The Drone King
published: September 12, 2017
cover: DroneKingCover
type: Animation
emphasis: 1
embed: https://player.vimeo.com/video/233542662?title=0&byline=0
post: https://www.theatlantic.com/video/index/539094/the-drone-king-an-animated-excerpt/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.published }}
        </p>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Director / Designer / Animator
          </td>
          <td class="creditsName">
            Caitlin Cadieux
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Voice Actor
          </td>
          <td class="creditsName">
            Salvatore Vecchio
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Sound Designer
          </td>
          <td class="creditsName">
            Tynesha Foreman
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Audio Editor
          </td>
          <td class="creditsName">
            Sophia Myszkowski
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Music
          </td>
          <td class="creditsName">
            Adam Schwartz
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Producer
          </td>
          <td class="creditsName">
            Alice Roth
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Production Manager
          </td>
          <td class="creditsName">
            Brian Jimenez
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Senior Producer
          </td>
          <td class="creditsName">
            Ashley Bloom Kenny
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
