---
title: The Lucas Brothers | Atlantic Studios
date: 2017-11-20 00:00:00 Z
navigation: Watch
description: Growing up in Newark, New Jersey, the Lucas brothers were surrounded
  by violence and drugs. Amidst the chaos of public housing and abject poverty, television
  was a constant and laughter an escape. In a recent interview with The Atlantic,
  animated above, the twins said that at an early age, they learned the power of comedy.
  Now, the successful comedians see their work as more than simply a vocation.
label: The Lucas Brothers
cover: LucasBrosCover
type: Animation
emphasis: 1
embed: https://player.vimeo.com/video/248168222
post: https://www.theatlantic.com/video/index/546377/lucas-brothers-comedy-therapy/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectAwards">
        </div>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Director / Designer / Animator
          </td>
          <td class="creditsName">
            Tynesha Foreman
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Producer
          </td>
          <td class="creditsName">
            Nicolas Pollock
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Production Manager
          </td>
          <td class="creditsName">
            Brian Jimenez
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Senior Producer
          </td>
          <td class="creditsName">
            Ashley Bloom Kenny
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
