---
title: The Guardian of North Lawndale | Atlantic Studios
date: 2014-05-21 00:00:00 Z
navigation: Watch
description: In a neighborhood where 43 percent of residents live below the poverty
  line, Billy Lamar Brooks Sr. is trying to help kids build a future. Brooks grew
  up in North Lawndale and has spent his adult life working as an activist and educator
  in the community. In this short documentary, Brooks reflects on his philosophy of
  supporting young people through tough love.
label: Guardian of North Lawndale
cover: NorthLawndaleCover
type: Documentary
emphasis: 1
embed: https://www.youtube.com/embed/fqQTfjMjk8g
post: https://www.theatlantic.com/video/index/371356/north-lawndale/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectAwards">
          <img src="/graphics/awards/Magazine.svg" />
        </div>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Producer / Shooter / Editor
          </td>
          <td class="creditsName">
            Sam Price-Waldman
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Interviewer
          </td>
          <td class="creditsName">
            Ta-Nehisi Coates
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Shooter
          </td>
          <td class="creditsName">
            Paul Rosenfield
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
