---
title: Obama | Atlantic Studios
date: 2017-04-11 00:00:00 Z
navigation: Watch
description: "“When you first start writing, you’re going to suck,” says David Sedaris
  in a recent interview with The Atlantic. In this animated video, Sedaris reveals
  that he kept a diary for seven years before he started writing stories and sharing
  them publicly. “More people are documenting their lives now,” he continues. “The
  difference is the degree to which they’re sharing. And there’s a lot to be said
  for not putting things out there.”"
label: Obama on Criticism
cover: ObamaCover
type: Animation
emphasis: 1
embed: https://player.vimeo.com/video/212757106?title=0&byline=0
post: https://www.theatlantic.com/video/index/522486/barack-obama-on-criticism-and-fervor/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Director / Designer / Animator
          </td>
          <td class="creditsName">
            Caitlin Cadieux
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Producer
          </td>
          <td class="creditsName">
            Alice Roth
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Producer / Editor
          </td>
          <td class="creditsName">
            Nic Pollock
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Production Manager
          </td>
          <td class="creditsName">
            Brian Jimenez
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Senior Producer
          </td>
          <td class="creditsName">
            Ashley Bloom Kenny
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
