---
title: Roxane Gay | Atlantic Studios
navigation: Watch
description: In Roxane Gay’s new memoir Hunger, the writer details her relationship with her body over her life. In this short interview, Gay critiques socially constructed beauty norms and how weight has been left out of the new culture of acceptance.

label: Roxane Gay
published: June 27, 2017
cover: RoxaneCover
type: Animation
emphasis: 1
embed: https://player.vimeo.com/video/223318719?title=0&byline=0
post: https://www.theatlantic.com/video/index/531117/roxane-gay-on-acceptance/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.published }}
        </p>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Director / Designer / Animator
          </td>
          <td class="creditsName">
            Tynesha Foreman
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Producer
          </td>
          <td class="creditsName">
            Nicolas Pollock
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Production Manager
          </td>
          <td class="creditsName">
            Brian Jimenez
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Senior Producer
          </td>
          <td class="creditsName">
            Ashley Bloom Kenny
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
