---
title: Unpresidented | Atlantic Studios
date: 2017-01-20 00:00:00 Z
navigation: Watch
description: Unpresidented explores a new era of American politics, covering everything
  from Trump's tweets to perspectives on discrimination.
label: Unpresidented
cover: UnpresidentedCover
type: Series
emphasis: 1
embed: https://www.youtube.com/embed/O7zZPqar34w?rel=0
post: https://www.theatlantic.com/video/series/unpresidented/
---

<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %} {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="projectContainer">
      <div class="projectBanner">
        <iframe class="projectEmbed" src="{{ page.embed }}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="projectText">
        <a href="{{ page.post }}" target="_blank"><h2>{{ page.label }}</h2></a>
        <p style="text-align: center">
          {{ page.date | date: "%B %-d, %Y"}}
        </p>
        <div class="projectBorder"></div>
        <p>
          {{ page.description }}
        </p>
      </div>
      <div class="projectBorder"></div>
      <table class="projectCredits">
        <tr>
          <td class="creditsTitle">
            Producer / Editor
          </td>
          <td class="creditsName">
            Leah Varjacques
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Producer
          </td>
          <td class="creditsName">
            Alice Roth
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Animator / Designer
          </td>
          <td class="creditsName">
            Tynesha Foreman
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Title Animator
          </td>
          <td class="creditsName">
            Jackie Lay
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Production Manager
          </td>
          <td class="creditsName">
            Brian Jimenez
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Senior Producer
          </td>
          <td class="creditsName">
            Ashley Bloom Kenny
          </td>
        </tr>
        <tr>
          <td class="creditsTitle">
            Executive Producer
          </td>
          <td class="creditsName">
            Kasia Cieplak-Mayr von Baldegg
          </td>
        </tr>
      </table>
    </div>
    {% include footer.html %}
  </div>
</body>

<script>
  $(document).ready(function() {
    $('.projectEmbed').css('height', function() {
      return $('.projectEmbed').width() * 0.5625;
    })
  });
</script>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
