<div class="modalBackground"></div>
<div class="modalWindow">
  <div class="modalEmbed">
    <!-- <iframe id="vimeoPlayer" src="https://player.vimeo.com/video/152765945" width="1920" height="1080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="https://vimeo.com/152765945">The Atlantic reel 2016</a> from <a href="https://vimeo.com/atlanticvideo">The Atlantic</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
  </div>
</div>

<script src="{{ site.baseurl }}/scripts/myModal.js"></script>
