<div class="NavBar">
  <div class="NavList">
    <!-- <a href="index.html"><h2 class="NavButton" id="Home">Home</h2></a> -->
    <a href="{{ site.baseurl }}/news.html"><h2 class="NavButton" id="News">News</h2></a>
    <a href="{{ site.baseurl }}/watch.html"><h2 class="NavButton" id="Watch">Watch</h2></a>
    <h2 class="NavButton NavSpacer"><!--Space--></h2>
    <a href="{{ site.baseurl }}/about.html"><h2 class="NavButton" id="About">About</h2></a>
    <a href="{{ site.baseurl }}/contact.html"><h2 class="NavButton" id="Contact">Contact</h2></a>

    <!-- <div class="NavButton"></div> -->
  </div>

  <!-- <div class="NavFooter">
    <p class="FooterText">Privacy Policy | Terms & Conditions</p>
    <p class="FooterText">The Atlantic © 2017</p>
  </div> -->
</div>

<!-- Scripts -->

<script>
  $(document).ready(function() {
    // document.getElementById('{{ page.navigation }}').style.fontWeight = 'bold';
  });
</script>

<!-- <script src="/scripts/myNav.js"></script> -->
