.filter {
  // position: absolute;
  height: 30px;
  margin: 20px auto 0;
  display: none;
}

.filterSlot {
  position: absolute;
  width: 300px;
  height: 10px;
  border-radius: 10px;
  // background: $color-darkgray;
  box-shadow: inset 0px 0px 9px 2px $color-darkgray;
  // border: 2px solid $color-darkgray;
  // box-shadow: 0px 0px 9px 3px $color-darkgray;
  z-index: 0;
  //positioning
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: $screen-mobile) {
    background: initial;
    box-shadow: initial;
    left: calc(50% - 5px);
  }
}

.filterSlider {
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $color-red;
  left: 0;
}

.sliderLabel {
  display: inline-block;
  position: absolute;
  text-align: center;
  cursor: pointer;
  p {
    font: $sans-serif-font;
  }


  &#filterAll {
    left: calc(50% - 145px);
    transform: translateX(-50%);
    font-size: 0.9em;

    p {
      color: $color-red;
    }

    @media screen and (max-width: $screen-mobile) {
      left: calc(50% - 150px);
      font-size: 0.8em;
    }
  }

  &#filterDocumentary {
    left: calc(50% - 37px);
    transform: translateX(-50%);
    font-size: 0.9em;

    @media screen and (max-width: $screen-mobile) {
      left: calc(50% - 42px);
      font-size: 0.8em;
    }
  }

  &#filterAnimation {
    left: calc(50% + 70px);
    transform: translateX(-50%);
    font-size: 0.9em;

    @media screen and (max-width: $screen-mobile) {
      left: calc(50% + 65px);
      font-size: 0.8em;
    }
  }

  &#filterSeries {
    left: calc(50% + 145px);
    transform: translateX(-50%);
    font-size: 0.9em;

    @media screen and (max-width: $screen-mobile) {
      left: calc(50% + 140px);
      font-size: 0.8em;
    }
  }
}
