// Grid Styles

.grid {
  display: block;
  width: 900px;
  margin: 30px auto;
  text-align: center;
  @media screen and (min-width: $screen-standard) {
    width: 1500px;
  }
  @media screen and (max-width: $screen-small) {
    width: 600px;
  }
  @media screen and (max-width: $screen-mobile) {
    width: 330px;
  }
}

.grid-item {
  display: inline-block;
  background-color: $color-gray;
  margin: 2px;

  &.width1 {
    width: 296px;
    @media screen and (max-width: $screen-mobile) {
      margin: 2px;
      width: 326px;
    }
  }

  &.width2 {
    width: 596px;
    @media screen and (max-width: $screen-small) {
      width: 296px;
    }
    @media screen and (max-width: $screen-mobile) {
      margin: 2px;
      width: 326px;
    }
  }
}

.gridNavigator {
  position: relative;
  display: block;
  margin: auto;
  width: 900px;
  height: 50px;
  border-bottom: solid 3px $color-darkgray;

  @media screen and (min-width: $screen-standard) {
    width: 1500px;
  }
  @media screen and (max-width: $screen-small) {
    width: 600px;
  }
  @media screen and (max-width: $screen-mobile) {
    width: 330px;
  }
}

.gridPageCounter {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 15px;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.9em;

  @media screen and (max-width: $screen-mobile) {
    font-size: 0.8em;
  }
}

.gridLast {
  position: absolute;
  left: 0;

  &.faded {
    opacity: 0.15;
  }

  img {
    height: 30px;
  }
}

.gridNext {
  position: absolute;
  right: 0;

  &.faded {
    opacity: 0.15;
  }

  img {
    height: 30px;
  }
}

// Project Cover Styles

.projectCover {
  width: 100%;
  height: 200px;

  @media screen and (max-width: $screen-mobile) {
    height: 100px;
  }
}

.projectLabel {
  position: absolute;
  top: 20px;
  left: 20px;
  // padding: 0 15px;
  max-width: 160px;
  text-align: left;
  display: none;

  h2 {
    color: #fff;
    font-size: 22px;
    margin: 0;
  }

  @media screen and (max-width: $screen-small) {
    display: initial;
    top: 10px;
    left: 10px;
  }
}

.projectGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  display: none;

  @media screen and (max-width: $screen-small) {
    display: initial;
  }
}
