.press {
  padding: 20px 0 0;
  vertical-align: top;
  width: 100%;
  min-height: calc(100% - 145px);
  margin: 0;

  .pressList {
    // width: 80%;
    // max-width: $paragraph-width;
    // margin: auto;
    // text-align: left;

    h1, h2 {
      margin-top: 40px;
      width: 80%;
      max-width: 600px;
      padding-top: 15px;
      margin: 0 auto 15px;
      text-align: left;

      border-top: 3px solid $color-darkgray;

      // @media screen and (max-width: $screen-small) {
      //   width: 80%;
      // }
    }

    p {
      margin: 0 auto 20px;
      width: 80%;
      max-width: $paragraph-width;
      text-align: left;
    }
  }
}
