<div class="about">
  <div class="leadImage"></div>
  <div class="aboutSection" id="aboutUS">
    <h2>About Us</h2>
    <p>
      Founded in 1857, The Atlantic has shaped the national conversation ever since. Today, the magazine spans many platforms—print, digital, events, podcasts, and video. TheAtlantic.com attracts more than 32 million visitors each month.
    </p>
    <p>
      Atlantic Studios, the in-house production studio at The Atlantic, creates original documentaries and series for the web and beyond. Our storytelling is powered by 160 years of journalism yet built for the digital age. Our award-winning work has been featured at film festivals across the country and reaches millions of viewers each month via <a href="https://www.theatlantic.com/video/" target="_blank">TheAtlantic.com</a>, <a href="https://www.youtube.com/user/TheAtlantic" target="_blank">YouTube</a>, <a href="https://www.facebook.com/pg/TheAtlantic/videos/?ref=page_internal" target="_blank">Facebook</a>, and <a href="https://vimeo.com/atlanticvideo" target="_blank">Vimeo</a>.
    </p>
  </div>

  <div class="aboutSection" id="partners">
    <h2>With Support From</h2>
    <div class="partnersGrid">
      <div class="partnersGridSizer"></div>
      {% assign sortedPartners = (site.partners | sort: 'position') %}
      {% for partner in sortedPartners %}
      <div class="partnerObject">
        <img src="{{ site.baseurl }}{{ partner.image }}" />
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="aboutSection" id="rewards">
    <h2>Recognition</h2>
    <div class="awardsGrid">
      <div class="awardsGridSizer"></div>
      {% assign sortedAwards = (site.awards | sort: 'position') %}
      {% for award in sortedAwards %}
      <div class="awardObject">
        <img src="{{ site.baseurl }}{{ award.image }}" />
        <p><b>{{ award.title }}</b></p>
        {% for item in award.details %}
        <p>{{ item }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="aboutSection" id="team">
    <h2>Team</h2>
    <div class="teamGrid">
      <div class="teamGridSizer"></div>
      {% assign sortedPeople = (site.people | sort: 'position') %}
      {% for person in sortedPeople %}
      <div class="teamMember">
        <a href="{{ person.link }}" target="_blank"><img src="{{ site.baseurl }}{{ person.image }}" /></a>
        <p><b>{{ person.title }}</b></p>
        <p>{{ person.role }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/scripts/myLeadImage.js"></script>
<script>
$(document).ready(function() {

  $('.partnersGrid').masonry({
    itemSelector: '.partnerObject',
    columnWidth: '.partnersGridSizer',
    gutter: 10,
    isAnimated: true,
    percentPosition: true,
    animationOptions: {
      duration: 200,
      easing: 'swing',
      queue: false
    }
  });

  $('.awardsGrid').masonry({
    itemSelector: '.awardObject',
    columnWidth: '.awardsGridSizer',
    gutter: 10,
    isAnimated: true,
    percentPosition: true,
    animationOptions: {
      duration: 200,
      easing: 'swing',
      queue: false
    }
  });

  $('.teamGrid').masonry({
    itemSelector: '.teamMember',
    columnWidth: '.teamGridSizer',
    gutter: 10,
    isAnimated: true,
    percentPosition: true,
    animationOptions: {
      duration: 200,
      easing: 'swing',
      queue: false
    }
  });

});
</script>
