<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %}
  {% include nav.html %}
  {% include modal.html %}

  <div class="container open">
    {% include menuButtonWhite.html %}
    <div class="containerSpacer">
      <div class="coverImage"></div>
      <div class="coverVideo">
        <video id="video" autoplay loop playsinline src="{{ site.baseurl }}{{ page.background-asset }}"></video>
        <img src="{{ site.baseurl }}/images/texture.png"/>
      </div>
      {% if page.reel-toggle %}
      {% include playButton.html %}
      {% endif %}
    </div>
    {% include footerWhite.html %}
  </div>

  <script src="{{ site.baseurl }}/scripts/myRandomImage.js"></script>
</body>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
