<!DOCTYPE html>
<html>

{% include info.html %}

<body>
  {% include logo.html %}
  {% include nav.html %}

  <div class="container open">
    {% include menuButton.html %}
    <div class="press">
      <div class="leadImage"></div>
      <div class="pressList">
        {{ content }}
      </div>
    </div>
    <script src="{{ site.baseurl }}/scripts/myLeadImage.js"></script>
    {% include footer.html %}
  </div>

  <script>
    $('.pressList').find('a').attr('target', '_blank');
  </script>
</body>

</html>

<!-- Site Designed and Coded by Atthar Mirza for Atlantic Studios © 2017 -->
