@font-face {
  font-family: lyon;
  src: url(/fonts/lyon/LyonText-Regular-Web.woff), url(/fonts/lyon/LyonText-Regular-Web.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: lyon;
  src: url(/fonts/lyon/LyonText-Bold-Web.woff), url(/fonts/lyon/LyonText-Bold-Web.woff2);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: graphik;
  src: url(/fonts/graphik/graphik-regular.woff), url(/fonts/graphik/graphik-regular.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: graphik;
  src: url(/fonts/graphik/graphik-bold.woff), url(/fonts/graphik/graphik-bold.woff2);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: noe;
  src: url(/fonts/noe/noe-bold.woff), url(/fonts/noe/noe-bold.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: noe;
  src: url(/fonts/noe/noe-bold-italic.woff), url(/fonts/noe/noe-bold-italic.woff2);
  font-style: italic;
  font-weight: normal;
}

$title-font: normal 2em noe,serif;
$subtitle-font: normal 18px graphik,serif;
$description-font: normal 18px lyon,serif;
$sans-serif-font: normal 1em graphik,sans-serif;

h1 {
  font: $title-font;
  color: $color-black;
}

h2 {
  font: $subtitle-font;
  color: $color-black;
}

p {
  font: $description-font;
  color: $color-black;
  b {
    font-weight: bold;
  }
}

a {
  font: $description-font;
  text-decoration: none;
  color: $color-black;
}

.FooterText {
  font-size: 12px;
  color: $color-black;
  margin: 1px;
  a {
    font-size: 12px;
  }
}
