.grid {
  display: block;
  width: 900px;
  margin: 10px auto;
  text-align: center;
}

.grid-item {
  display: inline-block;
  background-color: $color-gray;
  margin: 10px;

  &.width1 {
    width: 280px;
  }

  &.width2 {
    width: 580px;
  }
}
