html {
  margin: 0;

  body {
    margin: 0;

    .container {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 9;
      // box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.29);
      overflow-y: scroll;
      transition: 0.3s;

      &.open {
        height: calc(100% - 60px);
        transition: 0.3s;
      }

      .containerSpacer {
        width: 100%;
        height: 100%;
      }

      @media screen and (max-width: $screen-mobile) {
        height: auto;
        min-height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        bottom: auto;
        &.open {
          height: auto;
          min-height: calc(100vh - 80px);
        }

        .containerSpacer {
          height: calc(100vh - 80px);
        }
      }
    }
  }
}
