.NavBar {
  display: block;
  position: fixed;
  text-align: center;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: $color-black;
  z-index: 0;

  .NavList {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .NavButton {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 0px 2%;
    width: 10%;
    text-decoration: none;
    color: #fff;

    &:hover {
      // text-decoration: underline;
      cursor: pointer;
      // background-color: #fff;
      // border-bottom: 2px solid #fff;
      color: rgb(144, 144, 144);
      transition: 0.2s;

      &.NavSpacer:hover {
        cursor: default;
        background-color: $color-gray;
      }
    }

    @media screen and (max-width: $screen-mobile) {
      display: block;
      position: absolute;
      padding: 0;
      margin: 0;
      width: auto;
      max-width: 130px;
      text-align: left;
      // font-size: 1.2em;

      &#News {
        top: -15px;
        left: 36%;
        transform: translateY(-50%);
      }

      &#Watch {
        top: -15px;
        left: 66%;
        transform: translateY(-50%);
      }

      &#About {
        top: 15px;
        left: 36%;
        transform: translateY(-50%);
      }

      &#Contact {
        top: 15px;
        left: 66%;
        transform: translateY(-50%);
      }

      &.NavSpacer {
        display: none;
      }
    }
  }
}
