.news {
  padding: 20px 0 0;
  // min-height: 100%;
  text-align: center;
  vertical-align: top;
  width: 100%;
  min-height: 700px;
  height: calc(100% - 20px);
  // position: absolute;

  h2 {
    margin-top: 5px;
    text-align: left;
  }

  p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
  }

  @media screen and (max-width: $screen-mobile) {
    padding: 20px 0;
  }
}

.newsTab {
  display: inline-block;
  width: 60%;
  max-width: $paragraph-width;
  vertical-align: top;
  margin: {
    top: 10px;
    left: 20px;
  }
  padding: {
    left: 20px;
    bottom: 20px;
  }
  border-left: 3px solid $color-darkgray;
  height: calc(80% + 10px);
  overflow: auto;

  h2 {
    margin: none;
    text-align: left;
  }

  p {
    text-align: left;
    margin: 0 0 10px;
  }

  @media screen and (max-width: $screen-small) {
    display: none;
  }
}

.storySelector {
  display: inline-block;
  width: 20%;
  min-width: 330px;
  max-width: 500px;
  height: 85%;
  overflow: auto;
  vertical-align: top;

  @media screen and (max-width: $screen-small) {
    width: 80%;
    max-height: initial;
    overflow: initial;
  }
}

.storyThumb {
  box-sizing: border-box;
  background-color: $color-gray;
  padding: 10px 20px;
  margin: 10px auto;
  // border-radius: 10px;

  .title {
    font-size: 1.2em;
  }

  .byline {
    font: $sans-serif-font;
  }

  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: $screen-small) {
    padding-bottom: 20px;
    border-radius: 10px;
  }
}

.newsReader {
  display: none;

  // Added a Drop Cap
  p:first-child:first-letter {
    font-family: graphik;
    font-weight: bold;
    float: left;
    font-size: 46px;
    padding: {
      top: 2px;
      right: 4px;
    }
    line-height: 39px;
    color: $color-black;
  }

  @media screen and (max-width: $screen-small) {
    p:first-child:first-letter {
      font: $description-font;
      float: initial;
      padding: initial;
      line-height: initial;
      color:  initial;
    }
  }
}
