@font-face {
  font-family: graphik;
  src: url(/fonts/graphik/graphik-regular.woff), url(/fonts/graphik/graphik-regular.woff2);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: graphik;
  src: url(/fonts/graphik/graphik-bold.woff), url(/fonts/graphik/graphik-bold.woff2);
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: noe;
  src: url(/fonts/noe/noe-bold.woff), url(/fonts/noe/noe-bold.woff2);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: noe;
  src: url(/fonts/noe/noe-bold-italic.woff), url(/fonts/noe/noe-bold-italic.woff2);
  font-style: italic;
  font-weight: normal; }
h1 {
  font: normal 2em noe, serif;
  color: #1d1d1d; }

h2 {
  font: normal 1.2em noe, serif;
  color: #1d1d1d; }

p {
  font: normal 1em graphik, sans-serif;
  color: #1d1d1d; }
  p b {
    font-weight: bold; }

a {
  font: normal 1em graphik, sans-serif;
  text-decoration: none;
  color: #1d1d1d; }

.FooterText {
  font-size: 0.7em;
  color: #1d1d1d;
  margin: 1px; }

html {
  margin: 0; }
  html body {
    margin: 0; }
    html body .container {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 9;
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.29);
      overflow-y: scroll;
      transition: 0.3s; }
      html body .container.open {
        height: calc(100% - 80px);
        transition: 0.3s; }
      html body .container .containerSpacer {
        width: 100%;
        height: 100%; }

.NavBar {
  display: block;
  position: fixed;
  text-align: center;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: #f7f7f7;
  z-index: 0; }
  .NavBar .NavButton {
    display: inline-block;
    padding: 5px;
    margin: 15px 2%;
    width: 10%;
    text-decoration: none; }
    .NavBar .NavButton:hover {
      cursor: pointer;
      border-bottom: 2px solid #000; }
      .NavBar .NavButton:hover.NavSpacer:hover {
        cursor: default;
        background-color: #f7f7f7; }

.Footer {
  padding-top: 10px;
  height: 100px;
  display: block;
  text-align: center;
  width: 100%; }

.iconSocialMediaContainer {
  display: block;
  position: relative; }
  .iconSocialMediaContainer .iconSocialMedia {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    vertical-align: top; }
    .iconSocialMediaContainer .iconSocialMedia:hover {
      background-color: #f7f7f7; }

.containerLogo {
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 10%/2);
  width: 10%;
  height: 80px;
  padding: 0;
  margin: 0;
  background-color: #e50f41;
  z-index: 8;
  text-align: center; }

.logo {
  display: block;
  position: absolute;
  width: 80%;
  max-height: 60px;
  left: 10%;
  bottom: 15%; }

.navMenuButton {
  display: block;
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 10; }
  @media screen and (max-width: 1100px) {
    .navMenuButton {
      top: 20px; } }
  .navMenuButton.MenuButtonDown {
    animation-name: menuButtonChange;
    animation-duration: 0.2s;
    animation-direction: reverse;
    animation-fill-mode: both;
    animation-timing-function: linear; }
  .navMenuButton.MenuButtonUp {
    animation-name: menuButtonChange;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-fill-mode: both; }
  .navMenuButton .navMenuLabel {
    position: absolute;
    right: 70px;
    margin: 0;
    top: 4px;
    text-align: right;
    width: 200px; }
  .navMenuButton .navMenuGraphic {
    position: absolute;
    width: 40px;
    height: 30px;
    right: 20px;
    cursor: pointer; }
    .navMenuButton .navMenuGraphic .navMenuBar {
      border-radius: 1px;
      position: absolute;
      width: 40px;
      height: 2px; }
      .navMenuButton .navMenuGraphic .navMenuBar.black {
        background-color: #1d1d1d; }
      .navMenuButton .navMenuGraphic .navMenuBar.white {
        background-color: #fff; }
      .navMenuButton .navMenuGraphic .navMenuBar.topBar {
        top: 0;
        transform: translateY(14px) rotate(-45deg); }
        .navMenuButton .navMenuGraphic .navMenuBar.topBar.topBarIn {
          animation-name: topBarChange;
          animation-duration: 0.3s;
          animation-direction: normal;
          animation-fill-mode: both; }
        .navMenuButton .navMenuGraphic .navMenuBar.topBar.topBarOut {
          animation-name: topBarChange;
          animation-duration: 0.3s;
          animation-direction: reverse;
          animation-fill-mode: both; }
      .navMenuButton .navMenuGraphic .navMenuBar.middleBar {
        top: 14px;
        transform: scaleX(0); }
        .navMenuButton .navMenuGraphic .navMenuBar.middleBar.middleBarIn {
          animation-name: middleBarChange;
          animation-duration: 0.3s;
          animation-direction: normal;
          animation-fill-mode: both; }
        .navMenuButton .navMenuGraphic .navMenuBar.middleBar.middleBarOut {
          animation-name: middleBarChange;
          animation-duration: 0.3s;
          animation-direction: reverse;
          animation-fill-mode: both; }
      .navMenuButton .navMenuGraphic .navMenuBar.bottomBar {
        top: 28px;
        transform: translateY(-14px) rotate(45deg); }
        .navMenuButton .navMenuGraphic .navMenuBar.bottomBar.bottomBarIn {
          animation-name: bottomBarChange;
          animation-duration: 0.3s;
          animation-direction: normal;
          animation-fill-mode: both; }
        .navMenuButton .navMenuGraphic .navMenuBar.bottomBar.bottomBarOut {
          animation-name: bottomBarChange;
          animation-duration: 0.3s;
          animation-direction: reverse;
          animation-fill-mode: both; }

@keyframes menuButtonChange {
  0% {
    top: 100px; }
  100% {
    top: 20px; } }
@keyframes topBarChange {
  0% {
    transform: rotate(0deg); }
  60% {
    transform: translateY(14px) rotate(0deg); }
  100% {
    transform: translateY(14px) rotate(-45deg); } }
@keyframes middleBarChange {
  0% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1); }
  60% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(0); } }
@keyframes bottomBarChange {
  0% {
    transform: rotate(0deg); }
  60% {
    transform: translateY(-14px) rotate(0deg); }
  100% {
    transform: translateY(-14px) rotate(45deg); } }
.playButton {
  display: block;
  position: absolute;
  text-align: center;
  z-index: 10;
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .playButton .playSymbol {
    width: 70px;
    height: 70px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden; }
    .playButton .playSymbol:active {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
    .playButton .playSymbol:hover {
      cursor: pointer;
      background-color: #e50f41; }

.modalBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.9);
  z-index: 12;
  display: none; }

.modalWindow {
  width: 80vw;
  height: 0vw;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  z-index: 13;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  overflow: hidden; }

.modalEmbed {
  width: 80vw;
  height: 45vw; }
  .modalEmbed iframe {
    width: 100%;
    height: 100%; }

.grid {
  display: block;
  width: 900px;
  margin: 10px auto;
  text-align: center; }
  @media screen and (min-width: 1600px) {
    .grid {
      width: 1500px; } }
  @media screen and (max-width: 900px) {
    .grid {
      width: 600px; } }

.grid-item {
  display: inline-block;
  background-color: #f7f7f7;
  margin: 10px; }
  .grid-item.width1 {
    width: 280px; }
  .grid-item.width2 {
    width: 580px; }

.projectCover {
  width: 100%;
  height: 200px; }

.projectLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 0 15px;
  max-width: 80%;
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: none; }
  .projectLabel:hover p {
    color: #e50f41; }
  .projectLabel:active {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); }
  .projectLabel p {
    color: #1d1d1d; }

.coverImage {
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%; }

.ErrorMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  width: 20%;
  text-align: center; }

/*# sourceMappingURL=stylesheet.css.map */
